html {
  scroll-snap-type: y proximity;
}

body {
  font-size: 28px;
  line-height: 1.6;
  color: rgb(68, 63, 63);
  background-color: #f0efec;
  font-family: 'Raleway', sans-serif;
}

section {
  min-height: 100vh;
  scroll-snap-align: start;
  padding: 1rem;
  position: relative;
}

h1,
h2,
h3 {
  line-height: 1.2;
  font-family: "Satisfy", cursive;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clean_text {
  margin: 0 auto;
  padding-bottom: 10rem;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
}

#bund,
#bundbunden {
  font-size: 14vw;
  height: 100vh;
}