html {
  scroll-snap-type: y proximity;
  text-rendering: optimizeLegibility;
}

body {
  font-size: 28px;
  line-height: 1.6;
  color: rgb(68, 63, 63);
  background-color: #f0efec;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

section {
  min-height: 100vh;
  padding: 1rem;
  position: relative;
  scroll-snap-align: start;
}

div.clean_text,
div.clean_text > p {
  scroll-snap-align: none;
}

h1,
h2,
h3 {
  line-height: 1.2;
  font-family: "Source Serif Pro", serif;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clean_text {
  margin: 0 auto;
  padding-bottom: 21%;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
}

#bund,
#bundbunden {
  height: 100vh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

#bund > h1,
#bundbunden > h1 {
  font-size: 24vmin;
  font-family: "Satisfy", cursive;
}
