html {
  text-rendering: optimizeLegibility;
}

body {
  font-size: 12vmin;
  color: rgb(68, 63, 63);
  background-color: #f0efec;
  font-family: "Raleway", sans-serif;
}

div {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
